.body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #ffff;
}
/*H1-P*/
h1 {
  font-family: "Montserrat-Black-Extra-Bold";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat-Black-Extra-Bold";
  font-weight: bolder;
  text-align: center;
}

p {
  text-align: center;
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/*Navigation bar*/
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 12px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*Download buttons*/
.download-button {
  margin: 5% 3% 5% 0%;
}

/*Title-image*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/*Features*/
#features {
  padding: 7% 15%;
}
.feature-box {
  padding: 5%;
  text-align: center;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/*Testimonial*/
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #ffff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}
.carousel-control-next {
  padding-left: 12%;
}
.carousel-control-prev {
  padding-right: 12%;
}

/*Press*/
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing*/
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
